@page "/charts"

<div class="btn-group mb-2" role="group" aria-label="Switch ChartMode">
    <button type="button" class="btn btn-secondary  @firstActive" @onclick="@(async => ChangeMode("Years"))">Jahrgänge</button>
    <button type="button" class="btn btn-secondary" @onclick="@(async => ChangeMode("Classes"))">Klassen</button>
</div>

@if (!Reset)
{

    <Chart Config="_config" @ref="_chart" Width="@width" Height="@minheight"></Chart>

} else
{
    <div>
        <p>Loading ...</p>
    </div>
}
<div id="wsize" class="w-100"></div>

@code {

}
