@page "/run"

<div>
    v0.0.1
    <div class="btn-group">
        <button class="btn btn-primary" @onclick="@( async => StartRun())">Start run</button>
        <button class="btn btn-primary" @onclick="@( async => DebugRun())">Debug run</button>
    </div>
    <div class="mt-5 mb-5">
        <h4 class="text-white-50">Startzeit: @Run.RunInfo.StartTime.ToLocalTime()</h4>
        <h4 class="text-white-50">Du hast @Run.RunInfo.Distance m in @Run.RunInfo.Duration.ToString(@"hh\:mm\:ss") zurückgelegt!</h4>
        <h4><span class="badge badge-info">Geschwindigkeit: @Run.RunInfo.KphAvg km/h</span></h4>
        <h4><span class="badge badge-info">Höchstgeschwindigkeit: @Run.RunInfo.KphMax km/h</span></h4>
    </div>

    @if (watchId > 0) {
        <div class="btn-block">
            <button class="btn btn-primary" @onclick="Run.GetRunInfo">Run Info</button>
            <button class="btn btn-primary" @onclick="@( async => StopRun())">Stop run</button>
            
        </div>
    }

    @if (runDone) {
        <div style="width: 90%; max-width: 900px; height: 500px;">
            <RunMapComponent Run="Run"></RunMapComponent>
        </div>
    }
    
    <div>
        <p>
            @debugInfo
        </p>
    </div>
</div>