@using www.pwa.Shared
@inject IHttpClientFactory httpClient


<div class="position-relative mt-2" style="max-width: 900px;">
    @if (walkPoint != null)
    {
        <div class="card">
            <span class="oi oi-x text-danger bg-light pointer position-absolute p-2 p-sm-1"
            @onclick="e => onCloseRequest.InvokeAsync()" style="font-size: 30px; right: 0"></span>
            <img class="card-img-top" src="@GetImgSrc(walkPoint.Name)" alt="@walkPoint.Name">
            @if (String.IsNullOrEmpty(walkPoint.ImageCopyRightLink))
            {
                <small class="text-end">@walkPoint.ImageCopyRight</small>
            }
            else
            {
                <small class="text-end">@walkPoint.ImageCopyRight <a href="@walkPoint.ImageCopyRightLink">Link</a></small>
            }
            <div class="card-body">
                <h5 class="card-title">@walkPoint.Name</h5>
                <p class="card-text">@walkPoint.LongDescription</p>
            </div>
            <div class="card-footer">
                @walkPoint.Description
            </div>
        </div>
    }
    <div style="clear:both;">
        @Info
    </div>
</div>

@code {
    [Parameter]
    public string Point { get; set; }

    [Parameter]
    public EventCallback onCloseRequest { get; set; }

    WalkPoints walkPoint;
    string Info = String.Empty;

    protected override Task OnInitializedAsync()
    {
        LoadData(Point);
        return base.OnInitializedAsync();
    }

    public static string GetImgSrc(string name)
    {
        return $"images/{name.ToLower().Replace(" ", "")}.jpg";
    }

    public async Task LoadData(string point)
    {
        var Http = httpClient.CreateClient("www.pwa.ServerAPI.NoAuth");
        try
        {
            walkPoint = await Http.GetFromJsonAsync<WalkPoints>($"WwwRun/info/{point}");
            if (walkPoint == null)
            {
                Info = "Fehler beim laden der Daten.";
            }
        }
        catch
        {
            Info = "Fehler beim laden der Daten.";
        }
        await InvokeAsync(() => StateHasChanged());
    }
}
